<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>Challenge</title>
</head>

<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class=flashes>
        {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <h2>対戦するプレイヤーを選ぶ</h2>
    <form method="POST">
        <label for="opponent_id">対戦するプレイヤーを選んでください:</label>
        <select name="opponent_id" id="opponent_id">
            {% for player in players %}
            <option value="{{ player.id }}">{{ player.name }}</option>
            {% endfor %}
        </select>
        <button type="submit">対戦申請を送る</button>
    </form>
    <a href="{{url_for('show_user_data')}}" class="button">マイページへ</a>

</body>

</html>