<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>勉強記録追加</title>
</head>

<body>
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  <ul class=flashes>
    {% for category, message in messages %}
    <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
  <h2>勉強記録ページ</h2>
  <div>
    <a href="{{ url_for('show_user_data' )}}">マイページへ</a>
  </div>

  <p>
  <form method="POST">
    <br>
    教材:
    <select name="educational_material">
      {% for material in educational_materials %}
      <option value="{{ material.id }}">{{ material.name }}</option>
      {% endfor %}
    </select>
    <br>
    開始時刻: <input type="datetime-local" name="start_time" value="">
    <br>
    終了時刻: <input type="datetime-local" name="end_time" value="">
    <br>
    <input type="submit" value="追加">
  </form>
  </p>
</body>

</html>